@use 'variables' as var;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: var.$font;
    font-size: 16px;
}

p {
    font-size: 2rem;
    color: var.$black;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}