@use 'variables' as var;

@mixin smallPhone {
    @media (max-width: var.$phone) {
        @content;
    }
}

@mixin phone {
    @media (min-width: var.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: var.$tablet) {
        @content;
    }
}

@mixin menuBar {
    @media (max-width: var.$desktop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: var.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: var.$desktopXL) {
        @content;
    }
}

@mixin flex ($gap) {
    display: flex;
    gap: $gap;
}

@mixin flexOrientation ($gap, $justify, $align) {
    display: flex;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid ($gap, $column) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($column, 1fr);
}
