//Colores
$black: #212529;
$navy: #30475E;
$red: #E90E16;
$gray: #F5F5F5;
$white: #FFFFFF;
$green: #008000;
$blue: #4285F4;
$orange: #FA7B17;

//Tipografía
$font: 'Montserrat', sans-serif;
$font_title: 'Oswald', sans-serif;

//Tamaños MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;