//Colores
$black: #121212;
$navy: #30475E;
$red: #F05454;
$white: #F5F5F5;

//Tipografía
$font: 'Montserrat', sans-serif;

//Tamaños MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;