@use 'base/variables' as var;
@use 'base/mixins' as mix;

.container__about {
    @include mix.grid(3rem, 1);

    @include mix.desktop {
        grid-template-columns: repeat(2, 1fr);
    }
    

    p {
        margin-top: 0;
        font-size: 1.7rem;
    }
}