@use 'base/variables' as var;
@use 'base/mixins' as mix;

.top {
    background-color: var.$gray;
    padding: 2rem 0;
    display: none;

    @include mix.desktop {
        display: block;
    }
}

.contact__information {
    @include mix.flexOrientation(0, space-between, normal);
    padding: 0rem 0;

    .contact__items {
        @include mix.flex(2rem);
    }
}

.contact__item {
    @include mix.flex(1rem);
    color: var.$red;
    font-size: 2.5rem;

    i {
        margin: auto 0;
    }

    p {
        font-size: 1.8rem;
    }
}

.contact__social {
    margin: auto 2rem auto 0;
    font-size: 1.5rem;

    .item__social {
        background-color: var.$red;
        padding: 1rem;
        border-radius: 50%;
        color: var.$white;
        margin-right: 0.5rem;
        border: .1rem solid var.$red;
        transition: .5s;

        &:hover {
            background-color: var.$white;
            border: .1rem solid var.$black;
            color: var.$black;
        }
    }
}