@use 'base/variables' as var;
@use 'base/mixins' as mix;

.section__cup_mx {
    @include mix.grid(3rem, 2);
}

.information__content__tables {
    flex-direction: column;

    table {
        margin-bottom: 1rem;

        tbody {

            tr:nth-child(1),
            tr:nth-child(2),
            tr:nth-child(3),
            tr:nth-child(4) {
                border-left: 0rem;
            }

            tr {
                td:nth-child(2) {
                    width: 12rem;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}