@use 'base/variables' as var;
@use 'base/mixins' as mix;

header {
    background-color: var.$black;

    h1 {
        text-transform: uppercase;
        color: var.$red;
        font-weight: 600;
        font-size: 4rem;

        :nth-child(1) {
            color: var.$green;
        }

        :nth-child(2) {
            color: var.$white;
        }
    }

    .container__header {
        @include mix.flexOrientation(0, space-between, center);
        height: 8rem;

        .logo {
            flex: 1;
        }

        .navegation {
            flex: 3;
        }   
    }
}  

.navegation__list {
    @include mix.flexOrientation(0, space-between, center);

    .navegation__item {
        position: relative;

        &:hover {

            .dropdown {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

.navegation__item {

    a {
        @include mix.flexOrientation(0, space-between, center);
        color: var.$white;
        padding: 3rem 2.8rem;
        text-transform: uppercase;
        font-family: var.$font_title;
        font-weight: 600;
        font-size: 1.6rem;
        transition: .5s;

        i {
            margin-left: 1rem;
        }

        &:hover {
            background-color: var.$red;

            i {
                transform: rotate(180deg);
            }
        }
    }
}

.dropdown {
    position: absolute;
    background-color: var.$black;
    top: 100%;
    left: 0;
    transition: 0.8s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    ul {
        padding: 0;
    }
}

.image {
    img {
        max-height: 50rem;
    }
}