@use 'base/variables' as var;
@use 'base/mixins' as mix;

.content__main {
    background-color: var.$white;
    padding-bottom: 6rem;
}

.container__access {
    @include mix.grid(1rem, 1);

    @include mix.desktop {
        grid-template-columns: repeat(2, 1fr);
    }

    fieldset {
        padding: 0;
        border: 0;
        margin: 0;
    }
}

.container__inputs {
    @include mix.grid(1rem, 1);

    @include mix.tablet {
        grid-template-columns: repeat(2, 1fr);
    }


    padding: 2rem;
    width: 100%;

    .inputs {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        label {
            display: block;
        }

        input {
            display: block;
            width: 90%;
            padding: 1rem;
            border-radius: 0.5rem;
            border: .1rem solid gray;
        }
    }

    .container__button {
        
        .btn {
            font-size: 1.4rem;
            border: 0;
        }
    }
}