@use 'base/variables' as var;
@use 'base/mixins' as mix;

.section__teams {
    @include mix.grid(3rem, 0);
    grid-template-columns: 75% 25%;
}

.container__teams {
    @include mix.grid(2rem, 2);
    border-radius: 1rem;
    background-color: var.$white;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.team {
    @include mix.flexOrientation(1rem, flex-start, center);
    padding: 1rem 0 .5rem 1rem;
    border-bottom: .2rem solid var.$gray;


    img {
        height: 4rem;
        width: 4rem;
    }

    a {
        color: var.$black;
        font-size: 1.8rem;
        font-weight: 500;

        &:hover {
            color: var.$red;
        }
    }
}