@use 'base/variables' as var;

.section__teams {
    display: grid;
    grid-template-columns: 78% 22%;
    gap: 3rem;
}

.container__teams {
    border-radius: 1rem;
    background-color: var.$white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.team {
    display: flex;
    align-items: center;
    padding: 1rem 0 .5rem 1rem;
    border-bottom: .2rem solid var.$gray;


    img {
        height: 4rem;
        width: 4rem;
    }

    a {
        color: var.$black;
        font-size: 1.8rem;
        padding-left: 2rem;
        font-weight: 500;

        &:hover {
            color: var.$red;
        }
    }

}